@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,800");

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, caption,
tfoot, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

body {
    -webkit-text-size-adjust: none;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #303238 url("images/bg01.png");
}

body, input, select, textarea {
    font-family: 'Open Sans', sans-serif;
    color: #7b818c !important;
    font-weight: 400;
    font-size: 11pt;
    line-height: 1.85em;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.04em;
    color: #404248;
    margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
    outline: 0;
}

h2 {
    font-size: 2em;
    margin: 0 0 1.5em 0;
    line-height: 1em;
}

h2.icon {
    line-height: 48px;
}

h2.icon:before {
    position: relative;
    top: 0.05em;
    margin-right: 0.5em;
    opacity: 0.25;
}

h3 {
    font-size: 1.35em;
    margin-top: 2em;
}

b, strong {
    color: #404248;
    font-weight: 700;
}

i, em {
    font-style: italic;
}

br.clear {
    clear: both;
}

sub {
    position: relative;
    top: 0.5em;
    font-size: 0.8em;
}

sup {
    position: relative;
    top: -0.5em;
    font-size: 0.8em;
}

hr {
    border: 0;
    border-top: solid 1px #ddd;
}

blockquote {
    border-left: solid 0.5em #ddd;
    padding: 1em 0 1em 2em;
    font-style: italic;
}

p, ul, ol, dl {
    margin-bottom: 2em;
}

.date {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.065em;
    font-size: 0.9em;
    color: #696969;
    margin: 0 0 0.25em 0;
}

.editUserContainer {
    color: #464a52 !important;
    margin: 0 25% 0 25%;
    width: 50%;
}

#logo {
    margin-right: 50px;
}

.search_toolbar {
    width: 880px;
}

.search_toolbar .search_input {
    display: inline-block !important;
    float: left;
    margin-left: 30px;
}

.search_toolbar .search_input input[type="text"]{
    width: 500px;
}

.formheck {
    display: inline-block !important;
}

.switchLabel {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 15px;
    padding-bottom: 10px;
    color: #000000 !important;
    display: inline-block !important;
}

.saved_artists{
    margin-top: 50px;
}

.switch {
    position: relative;
    width: 60px;
    height: 34px;
    margin: 5%;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 15px;
    padding-bottom: 10px;
    color: #000000 !important;
    display: inline-block !important;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    color: #303238 !important;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 92%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 90%;
    float: left;
    border: 1px solid #d4d4d4;
    background-color: #ffffff;
    z-index: 999;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline-heading > p {
    color: #7b818c;
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #000;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -30px;
    background-color: #999999;
    z-index: 1001;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
    text-transform: none !important;
    font-size: 12pt !important;
    color: #464a52 !important;
}

.timeline-body > p + p {
    margin-top: 5px;
}

.forumTextarea {
    resize: vertical;
    color: #303238 !important;
    margin: 50px 0px;
    width: 100% !important;
}

.forumSubmitImage {
    margin: 0px 0px 50px 0px;
}

.addCommentForum {
    background-color: #ffffff;
    border-radius: 2px;
    width: 92%;
    padding: 20px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    position: relative;
    z-index: 1500;
}

table {
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    color: #303238;
    width: 100%;
    text-shadow: 0px 0px 0 rgba(0, 0, 0, 0.5) !important;
}

th, td:first-child {
    background: #d3d3d3;
    color: #7b818c;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    background: #acb2bf;
}

th:first-child, td:first-child {
    text-align: left;
}

/* Auth */

.auth_frame {
    height: 700px;
    width: 430px;
    position: fixed;
    z-index: 9999;
    color: #000 !important;
    background: -webkit-linear-gradient(
            rgba(48, 50, 56, 0.75),
            rgba(48, 50, 56, 0.95)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/clouds-cloudy-forest-mountain.jpg) no-repeat center center;
    background: linear-gradient(
            rgba(48, 50, 56, 0.75),
            rgba(48, 50, 56, 0.95)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/clouds-cloudy-forest-mountain.jpg) no-repeat center center;
    background-size: cover;
    border-top: solid 1px rgba(255, 255, 255, .5);
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    margin: 0;
    transform: translate(-50%, -50%);
}

.frame-long {
    height: 615px;
}

.frame-short {
    height: 400px;
    margin-top: 50px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
}

.nav_auth_btn {
    width: 100%;
    height: 100px;
    padding-top: 40px;
    opacity: 1;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.nav_auth_btn-up {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
}

li {
    padding-left: 10px;
    font-size: 18px;
    display: inline;
    text-align: left;
    text-transform: uppercase;
    padding-right: 10px;
    color: #000;
}

.signin-active a {
    padding-bottom: 10px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: solid 2px #1059FF;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    cursor: pointer;
}

.signin-inactive a {
    padding-bottom: 0;
    color: rgba(255, 255, 255, .3);
    text-decoration: none;
    border-bottom: none;
    cursor: pointer;
}

.signup-active a {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    border-bottom: solid 2px #1059FF;
    padding-bottom: 10px;
}

.signup-inactive a {
    cursor: pointer;
    color: rgba(255, 255, 255, .3);
    text-decoration: none;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.form-signin {
    width: 430px;
    height: 375px;
    font-size: 16px;
    color: #ffffff !important;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 55px;
    -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
    transition: opacity .5s ease, -webkit-transform .5s ease;
    transition: opacity .5s ease, transform .5s ease;
    transition: opacity .5s ease, transform .5s ease, -webkit-transform .5s ease;
}

.form-signin-left {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
    opacity: .0;
}

.form-signup {
    width: 430px;
    height: 375px;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 55px;
    position: relative;
    top: -375px;
    left: 400px;
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.form-signup-left {
    -webkit-transform: translateX(-399px);
    transform: translateX(-399px);
    opacity: 1;
}

.form-signup-down {
    top: 0px;
    opacity: 0;
}

.success {
    width: 80%;
    height: 150px;
    text-align: center;
    position: relative;
    top: -890px;
    left: 450px;
    opacity: .0;
    -webkit-transition: all .8s .4s ease;
    transition: all .8s .4s ease;
}

.success-left {
    -webkit-transform: translateX(-406px);
    transform: translateX(-406px);
    opacity: 1;
}

.successtext {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    margin-top: -35px;
    padding-left: 37px;
    padding-right: 37px;
}

#check path {
    stroke: #ffffff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .85px;
    stroke-dasharray: 60px 300px;
    stroke-dashoffset: -166px;
    fill: rgba(255, 255, 255, .0);
    -webkit-transition: stroke-dashoffset 2s ease .5s, fill 1.5s ease 1.0s;
    transition: stroke-dashoffset 2s ease .5s, fill 1.5s ease 1.0s;
}

#check.checked path {
    stroke-dashoffset: 33px;
    fill: rgba(255, 255, 255, .03);
}

.form-signin input, .form-signup input {
    color: #ffffff !important;
    font-size: 13px;
}

.form-styling {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #ffffff !important;

    background: rgba(255, 255, 255, .2);
}

label {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 15px;
    padding-bottom: 10px;
    color: #ffffff !important;
    display: block;
}

.auth_lbl {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 15px;
    padding-bottom: 10px;
    color: #000000 !important;
    display: block;
}

.auth_form_gen {
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 15px;
    padding-bottom: 10px;
    color: #000000 !important;
    display: block;
}

.auth_form_ftl {
    margin: 0 25% 0 25%;
    width: 50%;
}

:focus {
    outline: none;
}

.form-signin input:focus, textarea:focus, .form-signup input:focus, textarea:focus {
    background: rgba(255, 255, 255, .3);
    border: none;
    padding-right: 40px;
    color: #464a52 !important;
    -webkit-transition: background .5s ease;
    transition: background .5s ease;
}

.btn-signup {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    padding-top: 8px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-top: 23px;
    background-color: #1059FF;
}

.btn-signin {
    float: left;
    padding-top: 8px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin-top: -8px;
}

.btn-animate {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-top: 8px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-top: 23px;
    background-color: rgba(16, 89, 255, 1);
    left: 0px;
    top: 0px;
    -webkit-transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s;
    transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s;
}

.btn-animate-grow {
    width: 130%;
    height: 625px;
    position: relative;
    left: -55px;
    top: -420px;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 1);
}

a.btn-signup:hover, a.btn-signin:hover {
    cursor: pointer;
    background-color: #0F4FE6;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
}

.forgot {
    height: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 24px;
    margin-top: -535px;
    border-top: solid 1px rgba(255, 255, 255, .3);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.forgot-left {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
    opacity: 0;
}

.forgot-fade {
    opacity: 0;
}

.forgot a {
    color: rgba(255, 255, 255, .3);
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
}

.welcome {
    width: 100%;
    height: 50px;
    position: relative;
    color: rgba(35, 43, 85, 0.75);
    opacity: 0;
    -webkit-transition: opacity .1s ease 1s, -webkit-transform 1.5s ease .25s;
    transition: opacity .1s ease 1s, -webkit-transform 1.5s ease .25s;
    transition: transform 1.5s ease .25s, opacity .1s ease 1s;
    transition: transform 1.5s ease .25s, opacity .1s ease 1s, -webkit-transform 1.5s ease .25s;
}

.welcome-left {
    -webkit-transform: translateY(-780px);
    transform: translateY(-780px);
    opacity: 1;
}

.cover-photo {
    height: 150px;
    position: relative;
    left: 0px;
    top: -900px;
    background: -webkit-linear-gradient(
            rgba(35, 43, 85, 0.75),
            rgba(35, 43, 85, 0.95)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/landscape-nature-man-person.jpeg);
    background: linear-gradient(
            rgba(35, 43, 85, 0.75),
            rgba(35, 43, 85, 0.95)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/landscape-nature-man-person.jpeg);
    background-size: cover;
    opacity: 0;
    -webkit-transition: all 1.5s ease 0.55s;
    transition: all 1.5s ease 0.55s;
}

.cover-photo-down {
    top: -575px;
    opacity: 1;
}

.profile-photo {
    height: 125px;
    width: 125px;
    position: relative;
    border-radius: 70px;
    left: 155px;
    top: -1000px;
    background: url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/nature-water-rocks-hiking.jpg);
    background-size: 100% 135%;
    background-position: 100% 100%;
    opacity: 0;
    -webkit-transition: top 1.5s ease 0.35s, opacity .75s ease .5s;
    transition: top 1.5s ease 0.35s, opacity .75s ease .5s;
    border: solid 3px #ffffff;
}

.profile-photo-down {
    top: -636px;
    opacity: 1;
}

h1 {
    color: #ffffff;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
}

.btn-goback {
    position: relative;
    margin-right: auto;
    top: -400px;
    float: left;
    padding: 8px;
    width: 83%;
    margin-left: 37px;
    margin-right: 37px;
    height: 35px;
    border-radius: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: #1059FF;
    margin-top: -8px;
    border: solid 1px #1059FF;
    opacity: 0;
    -webkit-transition: top 1.5s ease 0.35s, opacity .75s ease .5s;
    transition: top 1.5s ease 0.35s, opacity .75s ease .5s;
}

.btn-goback-up {
    top: -1080px;
    opacity: 1;
}

a.btn-goback:hover {
    cursor: pointer;
    background-color: #0F4FE6;
    -webkit-transition: all .5s;
    transition: all .5s;
    color: #ffffff;
}

#refresh {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
    padding: 13px 0 0 13px;
}

.refreshicon {
    fill: #d3d3d3;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: fill .25s ease, -webkit-transform .25s ease;
    transition: fill .25s ease, -webkit-transform .25s ease;
    transition: fill .25s ease, transform .25s ease;
    transition: fill .25s ease, transform .25s ease, -webkit-transform .25s ease;
}

.refreshicon:hover {
    cursor: pointer;
    fill: #1059FF;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* Container */
.container {
    margin: 0 auto;
    max-width: calc(100% - 100px);;
    width: 830px;
}

/* Row */
.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
}

.row > * {
    box-sizing: border-box;
}

.row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
}

.row.aln-left {
    justify-content: flex-start;
}

.row.aln-center {
    justify-content: center;
}

.row.aln-right {
    justify-content: flex-end;
}

.row.aln-top {
    align-items: flex-start;
}

.row.aln-middle {
    align-items: center;
}

.row.aln-bottom {
    align-items: flex-end;
}

.row > .col-1 {
    width: 8.3333333333%;
}

.row > .off-1 {
    margin-left: 8.3333333333%;
}

.row > .col-2 {
    width: 16.6666666667%;
}

.row > .off-2 {
    margin-left: 16.6666666667%;
}

.row > .col-3 {
    width: 25%;
}

.row > .off-3 {
    margin-left: 25%;
}

.row > .col-4 {
    width: 33.3333333333%;
}

.row > .off-4 {
    margin-left: 33.3333333333%;
}

.row > .col-5 {
    width: 41.6666666667%;
}

.row > .off-5 {
    margin-left: 41.6666666667%;
}

.row > .col-6 {
    width: 50%;
}

.row > .off-6 {
    margin-left: 50%;
}

.row > .col-7 {
    width: 58.3333333333%;
}

.row > .off-7 {
    margin-left: 58.3333333333%;
}

.row > .col-8 {
    width: 66.6666666667%;
}

.row > .off-8 {
    margin-left: 66.6666666667%;
}

.row > .col-9 {
    width: 75%;
}

.row > .off-9 {
    margin-left: 75%;
}

.row > .col-10 {
    width: 83.3333333333%;
}

.row > .off-10 {
    margin-left: 83.3333333333%;
}

.row > .col-11 {
    width: 91.6666666667%;
}

.row > .off-11 {
    margin-left: 91.6666666667%;
}

.row > .col-12 {
    width: 100%;
}

.row > .off-12 {
    margin-left: 100%;
}

.row.gtr-0 {
    margin-top: 0px;
    margin-left: 0px;
}

.row.gtr-0 > * {
    padding: 0px 0 0 0px;
}

.row.gtr-0.gtr-uniform {
    margin-top: 0px;
}

.row.gtr-0.gtr-uniform > * {
    padding-top: 0px;
}

.row.gtr-25 {
    margin-top: -12.5px;
    margin-left: -12.5px;
}

.row.gtr-25 > * {
    padding: 12.5px 0 0 12.5px;
}

.row.gtr-25.gtr-uniform {
    margin-top: -12.5px;
}

.row.gtr-25.gtr-uniform > * {
    padding-top: 12.5px;
}

.row.gtr-50 {
    margin-top: -25px;
    margin-left: -25px;
}

.row.gtr-50 > * {
    padding: 25px 0 0 25px;
}

.row.gtr-50.gtr-uniform {
    margin-top: -25px;
}

.row.gtr-50.gtr-uniform > * {
    padding-top: 25px;
}

.row {
    margin-top: -50px;
    margin-left: -50px;
}

.row > * {
    padding: 50px 0 0 50px;
}

.row.gtr-uniform {
    margin-top: -50px;
}

.row.gtr-uniform > * {
    padding-top: 50px;
}

.row.gtr-150 {
    margin-top: -75px;
    margin-left: -75px;
}

.row.gtr-150 > * {
    padding: 75px 0 0 75px;
}

.row.gtr-150.gtr-uniform {
    margin-top: -75px;
}

.row.gtr-150.gtr-uniform > * {
    padding-top: 75px;
}

.row.gtr-200 {
    margin-top: -100px;
    margin-left: -100px;
}

.row.gtr-200 > * {
    padding: 100px 0 0 100px;
}

.row.gtr-200.gtr-uniform {
    margin-top: -100px;
}

.row.gtr-200.gtr-uniform > * {
    padding-top: 100px;
}

/* Section/Article */
section, article {
    margin-bottom: 5em;
}

section > :last-child,
article > :last-child,
section:last-child,
article:last-child {
    margin-bottom: 0;
}

header {
    margin: 0 0 2em 0;
}

header h2, header h3 {
    margin: 0 0 0.25em 0;
}

header p {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.065em;
    font-size: 0.9em;
    color: #696969;
    margin: 0;
}

header p strong {
    color: #404248;
    font-weight: 800;
}

footer {
    margin: 2.5em 0 0 0;
}

header.major {
    margin: 0 0 3em 0;
}

header.major:after {
    content: '';
    display: block;
    border-top: solid 1px #dbdbdb;
    height: 8px;
}

header.major h2, header.major h3 {
    margin: 0 0 1.2em 0;
}

header.major p {
    margin: 0 0 1.5em 0;
    position: relative;
    top: -1em;
}

/* Forms */

form label {
    display: block;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.04em;
    color: #404248;
    margin: 0 0 1em 0;
    font-size: 0.8em;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
    display: block;
    width: 100%;
    border-radius: 8px;
    border: solid 1px #eee;
    color: #303238 !important;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form select:focus,
form textarea:focus {
    box-shadow: 0 0 2px 1px #4091bf;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    line-height: 3em;
    padding: 0 1em;
}

form select {
    line-height: 3em;
    padding: 0 1em;
}

form textarea {
    min-height: 9em;
    padding: 1em;
}

form ::-webkit-input-placeholder,
form :-moz-placeholder,
form ::-moz-placeholder,
form :-ms-input-placeholder {
    color: #555 !important;
}

form ::-moz-focus-inner {
    border: 0;
}

/* Image */

.actors_list li {
    color: #000;
    display: inline-block;
}

.image_forum {
    position: relative;
    display: inline-block;
    height: 10%;
    width: 10%;
}

.image_forum:hover {
    box-shadow: 0 0 4px 3px rgba(0, 140, 186, 0.5);
}

.image_forum img {
    display: block;
    width: 100%;
    border-radius: 8px;
    margin-top: 20px;
    border-style: solid;
    padding: 5px;
}

.image_forum:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: url("images/bg01.png");
    width: 100%;
    height: 100%;
    opacity: 0.75;
}

.image_forum.fit {
    display: block;
    width: 100%;
}

.image_forum.featured {
    display: block;
    width: 100%;
    margin: 0 0 2.5em 0;
}

.image_forum.left {
    float: left;
    margin: 0 2em 2em 0;
}

.image_forum.centered {
    display: block;
    margin: 0 0 2.5em 0;
}

.image_forum.centered img {
    margin: 0 auto;
    width: auto;
}

.image {
    position: relative;
    display: inline-block;
    height: 10%;
    width: 10%;
}

.image img {
    display: block;
    width: 100%;
    border-radius: 8px;
}

.image:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: url("images/bg01.png");
    width: 100%;
    height: 100%;
    opacity: 0.75;
}

.image.fit {
    display: block;
    width: 100%;
}

.image.featured {
    display: block;
    width: 100%;
    margin: 0 0 2.5em 0;
}

.image.left {
    float: left;
    margin: 0 2em 2em 0;
}

.image.centered {
    display: block;
    margin: 0 0 2.5em 0;
}

.image.centered img {
    margin: 0 auto;
    width: auto;
}

/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("images/bg02.png");
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("images/bg02.png");
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("images/bg02.png");
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("images/bg02.png");
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    background-color: #4091bf;
    border-radius: 8px;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.35), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.35);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
    color: #fff !important;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.95em;
    letter-spacing: 0.075em;
    padding: 1em 2em;
    outline: 0;
    border: 0;
    white-space: nowrap;
    cursor: pointer;
}

input[type="button"].icon:before,
input[type="submit"].icon:before,
input[type="reset"].icon:before,
button.icon:before,
.button.icon:before {
    opacity: 0.5;
    margin-right: 0.5em;
    position: relative;
    top: 0.05em;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
    background-color: #50a1cf;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active,
.button:active {
    background-color: #3081af;
}

input[type="button"].medium,
input[type="submit"].medium,
input[type="reset"].medium,
button.medium,
.button.medium {
    font-size: 1.25em;
    padding: 1em 2.25em;
}

input[type="button"].large,
input[type="submit"].large,
input[type="reset"].large,
button.large,
.button.large {
    font-size: 1.5em;
    padding: 1em 2.25em;
}

input[type="button"].alt,
input[type="submit"].alt,
input[type="reset"].alt,
button.alt,
.button.alt {
    background-color: #464a52;
}

input[type="button"].alt:hover,
input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
button.alt:hover,
.button.alt:hover {
    background-color: #565a62;
}

input[type="button"].alt:active,
input[type="submit"].alt:active,
input[type="reset"].alt:active,
button.alt:active,
.button.alt:active {
    background-color: #363a42;
}

/* List */

dl.contact dt {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.065em;
    font-size: 0.9em;
    color: #696969;
    float: left;
    width: 6em;
}

dl.contact dd {
    margin: 0 0 1em 6em;
}

ul.default {
    list-style: disc;
    padding-left: 1em;
}

ul.default li {
    padding-left: 0.5em;
}

ul.actions li {
    display: inline-block;
    padding: 0 0 0 0.25em;
    margin: 0 0 0 0.25em;
}

ul.actions li:first-child {
    margin-left: 0;
    padding-left: 0;
}

ul.menu li {
    border-left: solid 1px #eee;
    display: inline-block;
    padding: 0 0 0 1em;
    margin: 0 0 0 1em;
}

ul.menu li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

ul.divided li {
    border-top: solid 1px #eee;
    padding: 0.5em 0 0 0;
    margin: 0.5em 0 0 0;
}

ul.divided li:first-child {
    border-top: 0 !important;
    padding-top: 0 !important;
    margin-top: 0 !important;
}

ol.default {
    list-style: decimal;
    padding-left: 1.25em;
}

ol.default li {
    padding-left: 0.25em;
}

/* Box */

.box.excerpt {
    position: relative;
    overflow: hidden;
}

.box.excerpt header {
    margin: 0 0 1em 0;
}

.box.excerpt .image, .box.excerpt p {
    margin-bottom: 0;
}

.box.feature1 {
    text-align: center;
}

.box.feature1 header {
    margin-bottom: 3em;
}

.box.feature1 header.first h2 {
    font-size: 2.5em;
}

.box.feature1 header.first p {
    font-size: 1.2em;
}

.box.feature1 header.second {
    position: relative;
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    white-space: nowrap;
    left: 24px;
}

.box.feature1 header.second p {
    line-height: 1em;
}

.box.feature1 header.second:before {
    font-size: 48px;
    position: absolute;
    right: 100%;
    margin-right: 18px;
    opacity: 0.5;
    bottom: -4px;
}

.box.feature2 {
    text-align: center;
}

.box.article-list article {
    border-bottom: solid 1px #dbdbdb;
    margin: 0 0 2.75em 0;
    padding: 0 0 2.75em 0;
}

.box.article-list article:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Icons */

.icon {
    text-decoration: none;
}

.icon:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.25em;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Nav */

#nav {
    position: absolute;
    right: 2em;
    top: 0;
}

#nav > ul > li {
    float: left;
}

#nav > ul > li > a, #nav > ul > li > span {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.95em;
    letter-spacing: 0.075em;
    padding: 0.5em 0.8em 0.5em 0.8em;
    border-radius: 6px;
    outline: 0;
}

#nav > ul > li.active > a, #nav > ul > li.current_page_item > a, #nav > ul > li.active > span, #nav > ul > li.current_page_item > span {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.025), 1px 1px 0px 0px rgba(255, 255, 255, 0.025);
}

#nav > ul > li:last-child {
    padding-right: 0;
}

#nav > ul > li > ul {
    display: none;
}

.dropotron {
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0)), url("images/bg02.png");
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0)), url("images/bg02.png");
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0)), url("images/bg02.png");
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0)), url("images/bg02.png");
    position: relative;
    background-color: #3B3E45;
    background-color: rgba(59, 62, 69, 0.9);
    border-radius: 8px;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 2px rgba(255, 255, 255, 0.075), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 14px 0px rgba(0, 0, 0, 0.4);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
    padding: 1.5em;
    line-height: 2.5em;
    min-width: 15em;
}

.dropotron.level-0 {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -2px;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 2px rgba(255, 255, 255, 0.075), 0px 2px 14px 0px rgba(0, 0, 0, 0.4);
}

.dropotron a, .dropotron span {
    color: #aaa;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.8em;
    letter-spacing: 0.075em;
    outline: 0;
}

.dropotron li:hover > a, .dropotron li:hover > span {
    color: #fff;
}

/* Banner */

#banner {
    text-align: center;
    width: 940px;
    margin: 0 auto;
    overflow: hidden;
    padding: 9em 0 6em 0;
}

#banner h2 {
    border: solid 1px rgba(255, 255, 255, 0.25);
    border-left: 0;
    border-right: 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.75);
    font-size: 2.35em;
    font-weight: 700;
    line-height: 1.3em;
    margin: 0 0 1.5em 0;
}

#banner h2 strong {
    font-weight: 800;
    color: inherit;
}

#banner h2:before {
    content: '';
    display: block;
    border-top: solid 1px;
    border-color: #888;
    border-color: rgba(255, 255, 255, 0.25);
    margin: 10px 0 1.25em 0;
}

#banner h2:after {
    content: '';
    display: block;
    border-bottom: solid 1px;
    border-color: #888;
    border-color: rgba(255, 255, 255, 0.25);
    margin: 1.25em 0 10px 0;
}

#banner p {
    text-transform: uppercase;
    color: #fff;
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.3em;
    letter-spacing: 0.04em;
    float: left;
    text-align: right;
    width: 60%;
    line-height: 1.5em;
    margin: 0;
}

/* Sidebar */

#sidebar h2 {
    font-size: 1.5em;
}

/* Wrappers */

#header-wrapper {
    height: auto;
    width: 100%;
}

#main-wrapper {
    background: #fff;
}

#footer-wrapper {
    position: relative;
    background-repeat: repeat-x, no-repeat, repeat;
    background-size: 100% 100%, 100% 15em, auto auto;
    background-position: top left, top center, top left;
    padding: 2em 0 2em 0;
}

.wrapper {
    padding: 7em 0 7em 0;
}

.wrapper > .inner {
    position: relative;
    z-index: 2;
}

.wrapper.style1 {
    position: relative;
    text-shadow: 1px 1px 0 #fff;
    background-color: #fff;
    background-image: url("images/bg03.png"), url("images/bg04.png"), url("images/bg02.png");
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 100% 15em, 100% 15em, auto auto;
    background-position: top center, bottom center, top left;
}

.wrapper.style3 {
    position: relative;
    text-shadow: 1px 1px 0 #fff;
    background-color: #fff;
    background-image: url("images/bg03.png"), url("images/bg02.png");
    background-repeat: no-repeat, repeat;
    background-size: 100% 15em, auto auto;
    background-position: top center, top left;
}

/* Header */

#header {
    position: relative;
    margin-bottom: 0;
}

#header .inner {
    position: relative;
    height: 2.5em;
    background-color: #3B3E45;
    background-color: rgba(59, 62, 69, 0.4);
}

#header h1 {
    position: absolute;
    left: 1.75em;
    top: 10%;
    font-size: 1.5em;
    color: #fff;
}

#copyright {
    border-top: solid 1px;
    border-color: #444;
    border-color: rgba(255, 255, 255, 0.075);
    text-align: center;
    padding: 1em 0 1em 0;
    color: inherit;
}

#copyright a {
    color: inherit;
}

/* Medium */

#navPanel, #titleBar {
    display: none;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

@media screen and (max-width: 980px) {

    /* Basic */
    html, body {
        overflow-x: hidden;
        font-size: 24pt;
        height: 100% !important;
        text-align: justify !important;
    }

    .mainGeneralNewsBlock {
        visibility: hidden !important;
        display: none !important;
    }

    .generalNewsBlock {
        width: 100% !important;
    }

    .generalNewsBlock section {
        width: 100% !important;
    }

    .auth_form_ftl {
        font-size: 24pt !important;
    }

    .auth_lbl {
        font-size: 18pt !important;
    }

    .auth_lbl input {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 25pt;
        line-height: 1.85em;
    }

    .auth_lbl input[type="submit"] {
        font-size: 16pt !important;
    }

    .auth_form_ftl {
        margin: 0 15% 0 15%;
        width: 90%;
    }

    .logoutForm {
        visibility: hidden !important;
        display: none !important;
        margin-top: 50px;
    }

    .userList {
        visibility: hidden;
        display: none;
    }

    /* Box */
    .box.feature2 section {
        margin: 1em 0;
    }

    /* Nav */
    #page-wrapper {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        padding-bottom: 1px;
    }

    #titleBar {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35)), url("images/bg02.png");
        background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35)), url("images/bg02.png");
        background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35)), url("images/bg02.png");
        background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35)), url("images/bg02.png");
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        background-color: rgba(59, 62, 69, 0.9);
        box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 2px rgba(255, 255, 255, 0.075), 0px 1px 6px 0px rgba(0, 0, 0, 0.35);
        display: block;
        height: 44px;
        left: 0;
        position: fixed;
        text-shadow: -1px -1px 0 black;
        top: 0;
        width: 100%;
        z-index: 10001;
    }

    #titleBar .title {
        display: block;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 0.04em;
        color: #fff;
        line-height: 44px;
        text-align: center;
    }

    #titleBar .toggle {
        position: absolute;
        left: 0;
        top: 0;
        width: 60px;
        height: 44px;
        opacity: 0.25;
    }

    #titleBar .toggle:before {
        display: inline-block;
        font-family: FontAwesome;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 18px;
        width: 44px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        color: #fff;
        content: '\f0c9';
    }

    #titleBar .toggle:active {
        opacity: 0.5;
    }

    body.navPanel-visible #page-wrapper {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px);
    }

    body.navPanel-visible #titleBar {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px);
    }

    /* Header */
    #header, #nav {
        display: none;
    }

    /* Wrappers */
    #header-wrapper {
        display: none;
    }

    .homepage #header-wrapper {
        display: block;
        padding-top: 44px;
    }

    #main-wrapper {
        padding-top: 44px;
    }

    .homepage #main-wrapper {
        padding-top: 0;
    }

    /* Banner */
    #banner {
        padding: 8em 0 4em 0;
    }

    #banner br {
        display: none;
    }

    /* Sidebar */
    #sidebar {
        margin-top: 1em;
    }
}

.profile {
    min-height: 355px;
    display: inline-block;
}

figcaption.ratings {
    margin-top: 20px;
}

figcaption.ratings a {
    color: #f1c40f;
    font-size: 11px;
}

figcaption.ratings a:hover {
    color: #f39c12;
    text-decoration: none;
}

.divider {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.emphasis {
    border-top: 4px solid transparent;
}

.emphasis:hover {
    border-top: 4px solid #1abc9c;
}

.emphasis h2 {
    margin-bottom: 0;
}

span.tags {
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
}

.dropdown-menu {
    background-color: #34495e;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
}

.dropdown-menu .divider {
    background: none;
}

.dropdown-menu > li > a {
    color: #f5f5f5;
}

.dropup .dropdown-menu {
    margin-bottom: 10px;
}

.dropup .dropdown-menu:before {
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
}

.s01 {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: url("images/background.png");
    background-size: cover;
    background-position: center center;
    padding: 15px;
}

.s01 form {
    width: 100%;
    max-width: 1290px;
}

.s01 form legend {
    font-size: 72px;
    line-height: 1;
    color: #fff;
    margin-bottom: 60px;
}

.s01 form .inner-form {
    background: rgba(0, 0, 0, 0.5);
    padding: 50px 47px;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.s01 form .inner-form .input-field {
    margin-right: 30px;
    height: 68px;
}

.s01 form .inner-form .input-field input {
    height: 100%;
    background: #fff;
    border-radius: .5px;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 32px;
    font-size: 20px;
}

.s01 form .inner-form .input-field input.placeholder {
    color: #9a9a9a;
    font-size: 20px;
}

.s01 form .inner-form .input-field input:-moz-placeholder {
    color: #9a9a9a;
    font-size: 20px;
}

.s01 form .inner-form .input-field input::-webkit-input-placeholder {
    color: #9a9a9a;
    font-size: 20px;
}

.s01 form .inner-form .input-field input:hover, .s01 form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
}

.s01 form .inner-form .input-field.first-wrap {
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.s01 form .inner-form .input-field.second-wrap {
    width: 32.77%;
    min-width: 180px;
}

.s01 form .inner-form .input-field.third-wrap {
    width: 180px;
    margin-right: 0;
}

.s01 form .inner-form .input-field.third-wrap .btn-search {
    height: 100%;
    width: 100%;
    background: #4272d7;
    white-space: nowrap;
    border-radius: .5px;
    font-size: 20px;
    color: #fff;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
}

.s01 form .inner-form .input-field.third-wrap .btn-search:hover {
    background: #2d62d3;
}

@media screen and (max-width: 992px) {
    .s01 form legend {
        font-size: 50px;
        text-align: center;
        margin-bottom: 50px;
    }

    .s01 form .inner-form {
        padding: 30px 35px;
    }

    .s01 form .inner-form .input-field {
        height: 50px;
    }
}

@media screen and (max-width: 767px) {
    .s01 form legend {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .s01 form .inner-form {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 20px;
    }

    .s01 form .inner-form .input-field {
        margin-right: 0;
    }

    .s01 form .inner-form .input-field input {
        padding: 5px 15px;
        font-size: 16px;
    }

    .s01 form .inner-form .input-field.first-wrap {
        width: 100%;
        margin-bottom: 20px;
    }

    .s01 form .inner-form .input-field.second-wrap {
        width: calc(50% - 10px);
    }

    .s01 form .inner-form .input-field.third-wrap {
        width: calc(50% - 10px);
    }

    .s01 form .inner-form .input-field.third-wrap .btn-search {
        font-size: 16px;
    }
}

#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 23px;
}

